<!doctype html>
	<html>
	<head>
		<title>Fotodeelapplicatie</title>
		<meta charset='UTF-8'>
		<link rel="stylesheet" href="/style/style.css" />
	</head>
	<body>
		<header>
			<h1> Fotodeelapplicatie</h1>
		</header>	
